<!-- Extends layout.ejs -->


<h2> <%= task.title %> </h2>
<p><strong>Description:</strong> <%= task.description %></p>
<p><strong>CreatedBy:</strong> <%= task.createdBy %></p>

<a href="/tasks">Back to Tasks</a>
